In [28]:
#Intro to Pandas found here: https://libguides.ntu.edu.sg/python/intropandas
#Parts 5
%matplotlib inline
import numpy as np
import pandas as pd
df = pd.read_csv('iris.csv')

# Manipulating the dataset

### Changing datatypes

If we have certain data that are not in our desired datatype we can simply reassign it as show below.
We make use of our basic pandas function, df.info(), to see the changes made.

In [29]:
print(df.info())
df['petal.length'] = df['petal.length'].astype('int64')
print(df.info())
#we'll switch back but values have changed to 5.0, 6.0, etc rather than decimals
df['petal.length'] = df['petal.length'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    int64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(3), int64(1), object(1)
memory usage: 6.0+ KB
None

### Sorting the data
We can now make changes to the order of the dataset w/ .sort_values
And to multiple and specific columns

In [55]:
df.sort_values(by = 'petal.width', ascending = False)
#code not working, pretty simple though

#also use mean
df['petal.length'].mean()

3.3066666666666666

In [68]:
#We can also select only rows with a certain value
#df.head()
#grab mean petal width for 'Setosa' variety rows ONLY
df[df['variety'] == 'Setosa']['petal.width'].mean()
#we can grab specific values, eg max petal width for Setosa with 
#petal length under 5.0
df[(df['variety'] == 'Setosa') & (df['petal.length'] < 5)]['petal.width'].max()

#don't forget .loc and .iloc
df.loc[10:15,'petal.length':'variety']
df.iloc[14:29,0:3]

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.0          0.2  Setosa
1           4.9          3.0           1.0          0.2  Setosa
2           4.7          3.2           1.0          0.2  Setosa
3           4.6          3.1           1.0          0.2  Setosa
4           5.0          3.6           1.0          0.2  Setosa